{% extends "base.html" %}

{% block extra_js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% end %}

{% block body %}
<div class="blog_heading">
  <span class="blog_title">Admin</span>
  <span class="blog_subtitle">edit posts</span>
</div>

<a href="/">back to blog</a>
<div class="bpad"></div>

<table>
  <tr>
    <th>Status</th>
    <th>Title</th>
    <th>Date</th>
    <th>Content</th>
  </tr>
{% for post in posts %}
  {% comment <tr title="{{post.id}}" onClick="updatePostId('{{post.id}}')"> %}
  <tr>
    {% if post.active %}
    <td id="{{post.id}}_status" class="clickable green">active</td>
    {% else %}
    <td id="{{post.id}}_status" class="clickable red">inactive</td>
    {% end %}
    <td><a class="nodecoration" href="/post/{{post.id}}">{{post.title}}</a></td>
    <td>{{post.time_created.strftime('%Y-%m-%d %H:%M')}}</td>
    <td>{{post.trimmed_content()}}</td>
  </tr>
{% end %}
</table>

<script type="text/javascript">
$(document).ready(function () {
  {% for post in posts %}
  document.getElementById('{{post.id}}_status')._status = {{ "true" if post.active else "false"}};
  $('#{{post.id}}_status').click(function (e) {
    e.preventDefault();
    if (this._status) {
      this._status = false;
      this.className = 'clickable red';
      this.innerText = 'inactive';
      $.post('/admin/activate/{{post.id}}', {'status': 'inactive'});
    } else {
      this._status = true;
      this.className = 'clickable green';
      this.innerText = 'active';
      $.post('/admin/activate/{{post.id}}', {'status': 'active'});
    }
  });
  {% end %}
});
</script>
{% end %}
