html { font-family: sans-serif; }

body { border: 1px solid gray; }

h1 {
	font-size: 1.3em;
	border-bottom: 1px solid gray;
	background-color: #EEE;
	margin-top: 0;
	padding-left: 0.6em;
}

h2 {
	font-size: 1.1em;
	padding-left: 0.6em;
	margin-bottom: 0.25em;
}

p {
	margin-top: 0;
	padding-left: 0.6em;
}
