<!DOCTYPE HTML>
<html>
  <head>
    {% block head %}
    <title>eklitzke.org | {% if title %}{{ title|e }}{% else %}λx.evan{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0/build/cssfonts/fonts-min.css">
    <link rel="stylesheet" href="/css/eklitzke.css" type="text/css">
    <script src="/js/home.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
