<!DOCTYPE html>
<html>
  <head>
	<title>eklitzke.org</title>
	<link href="http://fonts.googleapis.com/css?family=Shanti" rel="stylesheet" type="text/css">
	<style>
	  body { font-family: 'Shanti', sans-serif; margin: 1em; font-size: 20px; }
	</style>
  </head>
  <body>
	hi, my name is evan klitzke. i like python, robots, and hip-hop.
	email me at &#x0065;&#x0076;&#x0061;&#x006e;&#x0040;&#x0065;&#x006b;&#x006c;&#x0069;&#x0074;&#x007a;&#x006b;&#x0065;&#x002e;&#x006f;&#x0072;&#x0067;.
  </body>
</html>
