{% extends "base.html" %}

{% block body %}
<div id="x" onmouseover="makeFocused()" onmouseout="makeUnfocused()">
  <div id="y">
    <img id="top-focused" src="/images/top.png" alt="">
    <img id="top-unfocused" src="/images/top-unfocused.png" alt="">
  </div>
  <div id="content">
    <div id="bd">
      <span id="prompt">
        <span id="purple">evan@t500</span>
        <span id="green">~/code/eklitzke.org</span>
        <!--<span id="yellow">(master)</span>-->
        <span id="blue">$</span>
      </span>
      ./evan<br>
      <h1>λx. evan klitzke</h1>
      <p>this is the website of evan klitzke.</p>
      <h2>about me</h2>
      
      <p>
        i work as a programmer for <a href="http://www.yelp.com/">yelp</a>. i
        work on infrastructure projects there, poking around the dark corners of
        mysql, memcached, and other backend nonsense. i'm a python junkie, with
        a soft spot for functional programming and javascript.
      </p>

      <p>
        in addition to hacking i like cooking, biking, reading, and noodling
        around. if you want to get in touch with me you can email me at (my
        first name)@eklitzke.org
      </p>

      <h2>codes</h2>
      <p>
        if you want to see what non-work projects i'm up to, you can see out what i'm
        currently hacking on on <a href="http://github.com/eklitzke">github</a>.
      </p>
    </div>
  </div>
  <img id="bottom" src="/images/bottom.png" alt="">
</div>
{% endblock %}
